Repository duy211099/withdui: changes, and which lefthook commands are due for each by the changed paths.
All: biome, rubocop

lefthook.yml:

# Lefthook configuration
# See https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,jsx,ts,tsx}"
      root: "app/frontend/"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --autocorrect {staged_files}
      stage_fixed: true

refactor: remove sw.js & optimize Flash component
  app/frontend/components/Flash.tsx
  app/frontend/components/Layout.tsx
  app/frontend/entrypoints/inertia.ts
Due: biome

feat: enhance ux
  app/frontend/components/Header.tsx
  app/frontend/components/Layout.tsx
  app/frontend/components/ScrollToTopButton.tsx
  app/frontend/components/ui/button.tsx
  app/frontend/hooks/useScrollHide.ts
Due: biome

fix: path
  app/frontend/pages/moods/Edit.tsx
Due: biome

enhance: fix routes and add delete modal
  app/frontend/lib/routes.ts
  app/frontend/pages/moods/Edit.tsx
  app/frontend/pages/note/admin/Edit.tsx
  app/frontend/pages/note/admin/Index.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/routes/admin.rb
  config/routes/notes.rb
Due: biome, rubocop

refactor: add DeleteDialog component
  app/frontend/components/DeleteDialog.tsx
  app/frontend/components/events/DeleteEventDialog.tsx
  app/frontend/pages/events/Show.tsx
  app/frontend/pages/moods/Edit.tsx
Due: biome

feat: add test
  Gemfile
  Gemfile.lock
  config/database.yml
  config/environments/test.rb
  config/initializers/sentry.rb
  lefthook.yml
  test/controllers/note_admin_controller_test.rb
  test/fixtures/users.yml
Due: rubocop

feat: add test cases
  app/models/application_record.rb
  config/environments/test.rb
  test/controllers/about_controller_test.rb
  test/controllers/events_controller_test.rb
  test/controllers/home_controller_test.rb
  test/controllers/inertia_example_controller_test.rb
  test/controllers/locale_controller_test.rb
  test/controllers/moods_controller_test.rb
  test/controllers/note_controller_test.rb
  test/controllers/users/sessions_controller_test.rb
  test/controllers/utils_controller_test.rb
  test/fixtures/events.yml
  test/fixtures/moods.yml
  test/models/event_test.rb
  test/models/mood_test.rb
  test/models/user_test.rb
  test/policies/admin_policy_test.rb
  test/policies/application_policy_test.rb
Due: rubocop

test: check lefthook works
  test/simple_test.rb
Due: rubocop

refactor: refactore routes & add demo serializer page
  app/controllers/serializer_demo_controller.rb
  app/frontend/examples/TypedSerializerExamples.tsx
  app/frontend/pages/SerializerDemo.tsx
  app/frontend/types/index.ts
  app/frontend/types/models.ts
  app/serializers/user_serializer.rb
  config/routes.rb
  config/routes/admin.rb
  config/routes/public.rb
  config/routes/utils.rb
Due: biome, rubocop

fix: pass test
  app/frontend/pages/SerializerDemo.tsx
  app/frontend/pages/moods/Index.tsx
  test/controllers/inertia_example_controller_test.rb
Due: biome, rubocop

feat: use action_policy
  app/controllers/application_controller.rb
  app/controllers/moods_controller.rb
  app/controllers/note_admin_controller.rb
  app/controllers/serializer_demo_controller.rb
  app/policies/mood_policy.rb
Due: rubocop

feat: papertrail log
  Gemfile
  Gemfile.lock
  app/controllers/admin/versions_controller.rb
  app/frontend/components/ui/badge.tsx
  app/frontend/components/ui/table.tsx
  app/frontend/pages/admin/Versions.tsx
  app/models/version.rb
  app/policies/version_policy.rb
  app/serializers/user_serializer.rb
  config/initializers/paper_trail.rb
  config/routes/admin.rb
  db/migrate/20260108151557_add_object_changes_to_versions.rb
  db/schema.rb
  package-lock.json
  package.json
  test/fixtures/moods.yml
  test/models/mood_test.rb
Due: biome, rubocop

chore: enhance DX
  config/environments/development.rb
  config/initializers/rack_mini_profiler.rb
Due: rubocop

chore: update deprecated import
  app/frontend/pages/About.tsx
Due: biome

fix: test
  test/test_helper.rb
Due: rubocop

feat: enhance vite/inertia
  app/frontend/entrypoints/inertia.ts
  vite.config.ts
Due: biome

fix: vite bundling
  app/frontend/pages/Home.tsx
  app/frontend/pages/note/Index.tsx
  bin/serve-production
  vite.config.ts
Due: biome

feat: block wp bots & fix favicon
  app/views/layouts/application.html.erb
  config/initializers/rack_attack.rb
  public/favicon.ico
Due: rubocop

fix: vite bundling & styling
  app/frontend/components/ScrollToTopButton.tsx
  vite.config.ts
Due: biome

chore: add stackprof
  Gemfile
  Gemfile.lock
Due: none

fix: test
  test/controllers/moods_controller_test.rb
Due: rubocop

fix: test
  test/models/mood_test.rb
Due: rubocop

chore: config sentry for testing
  config/initializers/sentry.rb
Due: rubocop

fix: sentry
  config/initializers/sentry.rb
Due: rubocop

feat: add papertrail
  app/controllers/admin/versions_controller.rb
  app/frontend/pages/admin/Versions.tsx
  app/models/event.rb
  app/models/user.rb
  config/initializers/paper_trail.rb
Due: biome, rubocop

feat: enhance policies
  app/controllers/application_controller.rb
  config/routes/admin.rb
Due: rubocop

feat: remove spinner
  app/frontend/entrypoints/inertia.ts
Due: biome

fix: css
  app/frontend/pages/note/Index.tsx
Due: biome

fix css
  app/frontend/pages/note/Index.tsx
  app/views/layouts/application.html.erb
Due: biome

feat: change sidekiq to solidqueue
  Gemfile
  Gemfile.lock
  Procfile
  Procfile.dev
  app/assets/config/.keep
  app/controllers/mission_control_base_controller.rb
  app/jobs/demo_job.rb
  app/views/layouts/application.html.erb
  bin/jobs
  config/application.rb
  config/boot.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/sidekiq.rb
  config/queue.yml
  config/recurring.yml
  config/routes/admin.rb
  db/queue_schema.rb
  docker-compose.yml
  lib/tasks/demo_jobs.rake
Due: rubocop

chore: vite build before test
  lefthook.yml
Due: none

refactor
  config/routes/admin.rb
Due: rubocop

fix: build warning
  Dockerfile
  package-lock.json
  package.json
  vite.config.ts
Due: none

chore: clean build warning
  Dockerfile
  package-lock.json
Due: none

chore: update gem
  Gemfile
  Gemfile.lock
Due: none

chore: update package.json
  package-lock.json
  package.json
Due: none

feat: styling
  app/frontend/components/Header.tsx
  lefthook.yml
Due: biome

chore: small css fix
  app/frontend/pages/gamification/Dashboard.tsx
Due: biome

feat: update routes
  app/frontend/entrypoints/application.css
  app/frontend/lib/routes.ts
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/routes/gamification.rb
Due: biome, rubocop
