Repository duy211099/withdui: changes, and which lefthook commands are due for each by the changed paths.
All: biome, rubocop

biome:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect {staged_files}
  stage_fixed: true

revise: ruby Attributes
  ruby/flicks/flicks.rb
Due: rubocop

revise
  ruby/flicks/flicks.rb
Due: rubocop

revise ruby
  ruby/flicks/app.rb
  ruby/flicks/flicks.rb
  ruby/flicks/movie.rb
  ruby/flicks/playlist.rb
  ruby/test/movie_test.rb
Due: rubocop

chore: rename
  .scratching/ruby/README.md
  .scratching/ruby/flicks/app.rb
  .scratching/ruby/flicks/flicks.rb
  .scratching/ruby/flicks/movie.rb
  .scratching/ruby/flicks/note.rb
  .scratching/ruby/flicks/playlist.rb
  .scratching/ruby/test/movie_test.rb
Due: rubocop

chore: add i18n
  app/frontend/components/Header.tsx
  app/frontend/locales/translations.json
  config/locales/en/frontend/header.yml
  config/locales/vi/frontend/header.yml
Due: biome

typing
  app/content/posts/2026/the-rails-note.mdx
Due: none

chore: install bullet
  config/environments/development.rb
  config/environments/test.rb
Due: rubocop

feat: initialize events
  app/controllers/events_controller.rb
  app/frontend/components/Header.tsx
  app/frontend/lib/routes.ts
  app/frontend/locales/translations.json
  app/frontend/pages/events/Index.tsx
  app/helpers/events_helper.rb
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/locales/en/frontend/header.yml
  config/locales/vi/frontend/header.yml
  config/routes.rb
  config/routes/events.rb
  config/routes/notes.rb
  test/controllers/events_controller_test.rb
Due: biome, rubocop

feat: initialize events index page
  app/controllers/events_controller.rb
  app/frontend/pages/events/Index.tsx
Due: biome, rubocop

feat: use_script_element_for_initial_page
  app/frontend/entrypoints/inertia.ts
  config/initializers/inertia_rails.rb
  package-lock.json
  package.json
Due: biome, rubocop

feat: test before push code
  lefthook.yml
  lib/tasks/jsroutes.rake
Due: none

feat: create event table
  app/content/posts/2026/the-rails-note.mdx
  app/frontend/lib/routes.ts
  app/frontend/pages/events/Index.tsx
  app/models/event.rb
  db/migrate/20260106044851_create_events.rb
  db/schema.rb
  test/fixtures/events.yml
  test/models/event_test.rb
Due: biome, rubocop

fix: code tag css for MDXRenderer
  app/content/posts/2026/the-rails-note.mdx
  app/frontend/entrypoints/application.css
Due: none

feat: get events from db
  app/controllers/events_controller.rb
  app/frontend/pages/events/Index.tsx
  app/frontend/types/index.ts
  app/frontend/types/models.ts
Due: biome, rubocop

chore: description
  app/views/layouts/application.html.erb
Due: none

feat: add description to event table
  app/content/posts/2026/the-rails-note.mdx
  app/frontend/pages/events/Index.tsx
  app/frontend/types/models.ts
  app/models/event.rb
  db/migrate/20260106063717_add_fields_to_events.rb
  db/schema.rb
  test/fixtures/events.yml
  test/models/event_test.rb
Due: biome, rubocop

feat: subdomain for each app
  app/controllers/application_controller.rb
  app/controllers/locale_controller.rb
  app/frontend/components/Header.tsx
  app/frontend/components/Layout.tsx
  app/frontend/components/MobileMenu.tsx
  app/frontend/components/SubdomainLink.tsx
  app/frontend/components/ThemeCookieSync.tsx
  app/frontend/lib/routes.ts
  app/frontend/lib/subdomainRoutes.ts
  app/frontend/pages/Home.tsx
  app/frontend/pages/note/admin/Index.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/services/inertia_props_serializer.rb
  app/services/note_post.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/inertia_rails.rb
  config/initializers/session_store.rb
  config/routes.rb
  config/routes/events.rb
  config/routes/moods.rb
  config/routes/notes.rb
  vite.config.ts
Due: biome, rubocop

fix: SubdomainLink - SubdomainLink.tsx now types props as ComponentProps<typeof Link> and casts when rendering a plain <a>.
  app/frontend/components/SubdomainLink.tsx
Due: biome

config: subdomain
  config/environments/development.rb
  config/environments/production.rb
Due: rubocop

feat: add logs to sentry
  config/initializers/sentry.rb
Due: rubocop

fix: use note_index_path instead
  app/frontend/components/Header.tsx
Due: biome

refactor: routes
  config/routes.rb
  config/routes/admin.rb
  config/routes/events.rb
  config/routes/moods.rb
  config/routes/notes.rb
Due: rubocop

Revert "fix: use note_index_path instead"
  app/frontend/components/Header.tsx
Due: biome

Revert "refactor: routes"
  config/routes.rb
  config/routes/admin.rb
  config/routes/events.rb
  config/routes/moods.rb
  config/routes/notes.rb
Due: rubocop

Revert "feat: add logs to sentry"
  config/initializers/sentry.rb
Due: rubocop

Revert "config: subdomain"
  config/environments/development.rb
  config/environments/production.rb
Due: rubocop

Revert "fix: SubdomainLink - SubdomainLink.tsx now types props as ComponentProps<typeof Link> and casts when rendering a plain <a>."
  app/frontend/components/SubdomainLink.tsx
Due: biome

Revert "feat: subdomain for each app"
  app/controllers/application_controller.rb
  app/controllers/locale_controller.rb
  app/frontend/components/Header.tsx
  app/frontend/components/Layout.tsx
  app/frontend/components/MobileMenu.tsx
  app/frontend/components/SubdomainLink.tsx
  app/frontend/components/ThemeCookieSync.tsx
  app/frontend/lib/routes.ts
  app/frontend/lib/subdomainRoutes.ts
  app/frontend/pages/Home.tsx
  app/frontend/pages/note/admin/Index.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/services/inertia_props_serializer.rb
  app/services/note_post.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/inertia_rails.rb
  config/initializers/session_store.rb
  config/routes.rb
  config/routes/events.rb
  config/routes/moods.rb
  config/routes/notes.rb
  vite.config.ts
Due: biome, rubocop

feat: event index page
  app/content/posts/2026/the-rails-note.mdx
  app/controllers/events_controller.rb
  app/frontend/components/MoodCalendar.tsx
  app/frontend/lib/utils/index.ts
  app/frontend/lib/utils/utils.ts
  app/frontend/pages/events/Index.tsx
  app/frontend/pages/events/Show.tsx
  app/frontend/pages/moods/Edit.tsx
  app/frontend/pages/moods/New.tsx
  app/frontend/types/models.ts
  biome.json
Due: biome, rubocop

feat: useSwr
  app/content/posts/2026/the-rails-note.mdx
  app/controllers/home_controller.rb
  app/frontend/lib/fetcher.ts
  app/frontend/lib/routes.ts
  app/frontend/pages/events/Index.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/routes.rb
  package-lock.json
  package.json
Due: biome, rubocop

feat: edit event
  app/controllers/events_controller.rb
  app/frontend/pages/events/Edit.tsx
  app/frontend/pages/events/Show.tsx
Due: biome, rubocop

feat: styling show page
  app/frontend/pages/events/Index.tsx
  app/frontend/pages/events/Show.tsx
Due: biome

feat: better styling card component
  app/frontend/components/ui/card.tsx
Due: biome

feat: create/update event
  app/content/posts/2026/the-rails-note.mdx
  app/controllers/events_controller.rb
  app/frontend/components/events/EventForm.tsx
  app/frontend/pages/events/Index.tsx
  app/frontend/pages/events/New.tsx
Due: biome, rubocop

feat: detele event
  app/controllers/events_controller.rb
  app/frontend/components/events/DeleteEventDialog.tsx
  app/frontend/pages/events/Show.tsx
Due: biome, rubocop

feat: i18n events
  app/content/posts/2026/the-rails-note.mdx
  app/controllers/events_controller.rb
  app/frontend/components/events/DeleteEventDialog.tsx
  app/frontend/components/events/EventForm.tsx
  app/frontend/locales/translations.json
  app/frontend/pages/events/Edit.tsx
  app/frontend/pages/events/Index.tsx
  app/frontend/pages/events/New.tsx
  app/frontend/pages/events/Show.tsx
  config/locales/en/frontend/events.yml
  config/locales/vi/frontend/events.yml
Due: biome, rubocop

feat: validate model + inline error for event form
  app/controllers/events_controller.rb
  app/frontend/components/events/EventForm.tsx
  app/frontend/pages/events/Edit.tsx
  app/frontend/pages/events/New.tsx
  app/models/event.rb
  config/locales/en/activerecord.yml
  config/locales/vi/activerecord.yml
Due: biome, rubocop

feat: handle validation event form
  app/frontend/components/events/EventForm.tsx
Due: biome

chore: enhance
  app/content/posts/2026/the-frontend-note.mdx
  app/frontend/components/events/EventForm.tsx
Due: biome

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx} and ^app/frontend/
  rubocop: any of: *.rb
