Repository duy211099/withdui: changes, and which lefthook commands are due for each by the changed paths.
All: biome, rubocop

biome:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect {staged_files}
  stage_fixed: true

chore: remove unused importmap and Hotwire/Stimulus files
  CLAUDE.md
  app/frontend/application.js
  app/frontend/controllers/application.js
  app/frontend/controllers/hello_controller.js
  app/frontend/controllers/index.js
  app/frontend/entrypoints/application.js
  app/views/layouts/application.html.erb
  bin/importmap
  config/importmap.rb
Due: biome, rubocop

chore: remove unused Hotwire gems
  Gemfile
  Gemfile.lock
Due: none

security: disable source maps in production builds
  vite.config.ts
Due: none

docs: document source map security configuration
  CLAUDE.md
Due: none

fix: disable Inertia history encryption for local testing
  config/initializers/inertia_rails.rb
Due: rubocop

feat: remove console statements in production builds
  vite.config.ts
Due: none

docs: document console removal in production builds
  CLAUDE.md
Due: none

feat: migrate from SQLite to PostgreSQL, add Sidekiq for background jobs, and integrate Sentry for error tracking
  Gemfile
  Gemfile.lock
  Procfile.dev
  app/controllers/test_controller.rb
  config/application.rb
  config/cable.yml
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/rack_attack.rb
  config/initializers/sentry.rb
  config/initializers/sidekiq.rb
  config/routes.rb
  config/sidekiq.yml
  config/storage.yml
  db/schema.rb
Due: rubocop

fix: remove hiredis-client
  Gemfile
  Gemfile.lock
Due: none

fix: update Dockerfile to use PostgreSQL and remove SQLite dependencies
  Dockerfile
Due: none

feat: add Google Analytics tracking script to application layout
  app/views/layouts/application.html.erb
Due: none

feat: add Microsoft Clarity tracking code to application layout
  app/views/layouts/application.html.erb
Due: none

feat: add image_processing gem for Active Storage variants
  Gemfile
  Gemfile.lock
Due: none

feat: replace blueprinter with oj for improved JSON performance
  Gemfile
  Gemfile.lock
  config/initializers/oj.rb
Due: rubocop

chore: update Bundler version from 2.5.7 to 4.0.3
  Gemfile.lock
Due: none

feat: add database consistency checks and logging enhancements
  .database_consistency.yml
  Gemfile
  Gemfile.lock
  config/initializers/lograge.rb
  lib/tasks/auto_annotate_models.rake
Due: rubocop

feat: implement role-based authorization and admin policies
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/blog_admin_controller.rb
  app/models/user.rb
  app/policies/admin_policy.rb
  app/policies/application_policy.rb
  config/initializers/rack_mini_profiler.rb
  config/routes.rb
  config/routes/admin.rb
  config/routes/blog.rb
  config/routes/devise.rb
  db/migrate/20251224073034_add_role_to_users.rb
  db/migrate/20251224073722_change_role_to_string_in_users.rb
  db/schema.rb
  lib/tasks/auto_annotate.rake
  lib/tasks/auto_annotate_models.rake
  test/fixtures/users.yml
  test/models/user_test.rb
Due: rubocop

feat: add PaperTrail for auditing changes and tracking user actions
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/models/version.rb
  config/initializers/paper_trail.rb
  db/migrate/20251224081001_create_versions.rb
  db/schema.rb
Due: rubocop

feat: include PaperTrail for tracking changes in ApplicationController
  app/controllers/application_controller.rb
Due: rubocop

feat: implement request-scoped attributes for current user and request details
  app/controllers/application_controller.rb
  app/models/current.rb
Due: rubocop

feat: allow author to be null and provide default display for missing authors
  app/frontend/pages/blog/Show.tsx
Due: biome

typing
  app/content/posts/2025/current-user-vs-current_user.mdx
  app/content/posts/2025/domain-model-hoat-dong-nhu-the-nao.mdx
Due: none

feat: enhance UI components with neo-brutalist design and improved styling
  app/content/posts/2025/current-user-vs-current_user.mdx
  app/content/posts/2025/giai-phap-tong-quan-de-tach-biet-core-code-va-infrastructure-code.mdx
  app/frontend/components/blog/MDXRenderer.tsx
  app/frontend/components/ui/alert.tsx
  app/frontend/components/ui/button.tsx
  app/frontend/components/ui/card.tsx
  app/frontend/components/ui/input.tsx
  app/frontend/components/ui/textarea.tsx
  app/frontend/entrypoints/application.css
Due: biome

feat: add syntax highlighting support with rehype-highlight and adjust shadow effects
  app/frontend/components/blog/MDXRenderer.tsx
  app/frontend/components/ui/button.tsx
  app/frontend/components/ui/card.tsx
  app/frontend/entrypoints/application.css
  package-lock.json
  package.json
Due: biome

feat: add Be Vietnam Pro font and apply font styles to body and code elements
  app/frontend/entrypoints/application.css
  app/views/layouts/application.html.erb
Due: none

feat: improve styling and line heights for better readability across UI components
  app/frontend/components/ui/card.tsx
  app/frontend/components/ui/input.tsx
  app/frontend/components/ui/textarea.tsx
  app/frontend/entrypoints/application.css
Due: biome

feat: update border and shadow colors for softer neo-brutalist design
  app/frontend/entrypoints/application.css
Due: none

feat: enhance header with mobile menu and improve layout responsiveness
  app/frontend/components/Header.tsx
  app/frontend/components/Layout.tsx
  app/frontend/components/MobileMenu.tsx
  app/frontend/components/ui/card.tsx
  app/frontend/components/ui/input.tsx
  app/frontend/pages/Home.tsx
  app/frontend/pages/blog/Category.tsx
  app/frontend/pages/blog/Index.tsx
  app/frontend/pages/blog/Show.tsx
  app/frontend/pages/blog/admin/Edit.tsx
  app/frontend/pages/blog/admin/Index.tsx
  app/frontend/pages/blog/admin/New.tsx
Due: biome

feat: add language and theme labels to header in English and Vietnamese translations
  app/frontend/locales/translations.json
  config/locales/en.yml
  config/locales/vi.yml
Due: none

feat: update tags to reflect new author attribution across multiple posts
  app/content/posts/2025/dinh-nghia-core-code-va-infrastructure-code.mdx
  app/content/posts/2025/domain-model-hoat-dong-nhu-the-nao.mdx
  app/content/posts/2025/domain-model-mo-hinh-mien-nghiep-vu.mdx
  app/content/posts/2025/giai-phap-tong-quan-de-tach-biet-core-code-va-infrastructure-code.mdx
  app/content/posts/2025/infrastructure-code-la-gi.mdx
  app/content/posts/2025/loi-ich-cua-viec-tach-biet-core-code-va-infrastructure-code.mdx
  app/content/posts/2025/muc-tieu-va-tam-quan-trong-cua-viec-tach-biet-core-code-infrastructure-code.mdx
  app/content/posts/2025/nhung-van-de-khi-code-loi-va-code-ha-tang-tron-lan.mdx
  app/content/posts/2025/ranh-gioi-giua-core-va-infrastructure-trong-thuc-te.mdx
  app/content/posts/2025/tai-sao-can-domain-model.mdx
  app/content/posts/2025/thiet-ke-mot-domain-entity.mdx
  app/frontend/pages/blog/Index.tsx
Due: biome

feat: implement sheet component for mobile menu and update locale switcher with flags
  app/frontend/components/LocaleSwitcher.tsx
  app/frontend/components/MobileMenu.tsx
  app/frontend/components/ui/sheet.tsx
  package-lock.json
  package.json
Due: biome

feat: simplify mobile menu layout and remove unused translation keys
  app/frontend/components/MobileMenu.tsx
  app/frontend/locales/translations.json
  app/frontend/pages/blog/Index.tsx
  config/locales/en.yml
  config/locales/vi.yml
Due: biome

feat: update tag button max width for improved layout responsiveness
  app/frontend/pages/blog/Index.tsx
Due: biome

feat: adjust tag button max width for improved layout consistency
  app/frontend/pages/blog/Index.tsx
Due: biome

feat: refactor tag submission to use router for improved handling in Edit and New components
  app/frontend/pages/blog/admin/Edit.tsx
  app/frontend/pages/blog/admin/New.tsx
Due: biome

typing
  app/content/posts/2025/exit-vs-return-vs-break.mdx
Due: none

feat: tags suggest
  app/frontend/pages/blog/admin/New.tsx
Due: biome

typing
  app/content/posts/2025/builtin-commands-vs-executables-in-shell.mdx
  app/content/posts/2025/the-path-environment-variable.mdx
Due: none

feat: acessibility
  app/views/layouts/application.html.erb
Due: none

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx} and ^app/frontend/
  rubocop: any of: *.rb
