Repository duy211099/withdui: changes, and which lefthook commands are due for each by the changed paths.
All: biome, rubocop

biome:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect {staged_files}
  stage_fixed: true

perf: optimize Lighthouse scores with deferred analytics and code splitting
  app/views/layouts/application.html.erb
  vite.config.ts
Due: none

fix: resolve React createContext error and Docker build failure
  package.json
  vite.config.ts
Due: none

feat: add loading indicators for better user experience
  app/frontend/entrypoints/inertia.ts
  app/views/layouts/application.html.erb
Due: biome

feat: title
  app/frontend/entrypoints/inertia.ts
Due: biome

typing
  app/content/posts/2025/dinh-nghia-core-code-va-infrastructure-code.mdx
Due: none

typing
  app/content/posts/2025/infrastructure-code-la-gi.mdx
Due: none

revise: ruby string
  ruby/README.md
  ruby/flicks/flicks.rb
Due: rubocop

typing
  app/content/posts/2025/why-ruby-doesn-t-have-interfaces.mdx
Due: none

feat: graph view for notes
  app/frontend/components/BlogGraphView.tsx
  app/frontend/pages/blog/Category.tsx
  app/frontend/pages/blog/Index.tsx
  app/frontend/pages/blog/Show.tsx
  package-lock.json
  package.json
Due: biome

fix: zoom bugs
  app/frontend/components/BlogGraphView.tsx
  app/frontend/pages/blog/Index.tsx
Due: biome

feat: add mood tracker module
  CLAUDE.md
  app/content/posts/2025/thiet-ke-mot-domain-entity.mdx
  app/controllers/home_controller.rb
  app/controllers/moods_controller.rb
  app/frontend/components/BlogGraphView.tsx
  app/frontend/components/Header.tsx
  app/frontend/components/MobileMenu.tsx
  app/frontend/components/MoodCalendar.tsx
  app/frontend/components/MoodDetailModal.tsx
  app/frontend/components/MultiMoodModal.tsx
  app/frontend/components/ui/card.tsx
  app/frontend/components/ui/dialog.tsx
  app/frontend/lib/utils.ts
  app/frontend/pages/Home.tsx
  app/frontend/pages/blog/Category.tsx
  app/frontend/pages/blog/Index.tsx
  app/frontend/pages/blog/Show.tsx
  app/frontend/pages/blog/admin/Edit.tsx
  app/frontend/pages/blog/admin/Index.tsx
  app/frontend/pages/moods/Edit.tsx
  app/frontend/pages/moods/Index.tsx
  app/frontend/pages/moods/New.tsx
  app/frontend/types/index.ts
  app/frontend/types/inertia.ts
  app/frontend/types/models.ts
  app/frontend/types/ui.ts
  app/models/mood.rb
  app/models/user.rb
  app/models/version.rb
  config/application.rb
  config/initializers/generators.rb
  config/routes.rb
  config/routes/moods.rb
  db/migrate/20260103042115_create_moods.rb
  db/migrate/20260103044623_enable_pgcrypto_extension.rb
  db/migrate/20260103052156_convert_users_to_uuidv7.rb
  db/migrate/20260103052607_remove_gen_random_uuid_default_from_moods.rb
  db/schema.rb
  test/fixtures/users.yml
  test/models/user_test.rb
Due: biome, rubocop

feat: public the mood page
  app/controllers/home_controller.rb
  app/frontend/pages/Home.tsx
Due: biome, rubocop

fix: fix mood table primary id
  db/migrate/20260103061546_add_uuid_default_to_moods_id.rb
  db/schema.rb
Due: rubocop

feat: i18n + responsive view
  app/frontend/components/MoodCalendar.tsx
  app/frontend/components/MoodDetailModal.tsx
  app/frontend/components/MultiMoodModal.tsx
  app/frontend/lib/utils.ts
  app/frontend/locales/translations.json
  app/frontend/pages/Home.tsx
  app/frontend/pages/moods/Edit.tsx
  app/frontend/pages/moods/Index.tsx
  app/frontend/pages/moods/New.tsx
  config/locales/en.yml
  config/locales/vi.yml
Due: biome

feat: update i18n
  app/frontend/locales/translations.json
  config/locales/vi.yml
Due: none

feat: add notes graph to homepage
  app/frontend/locales/translations.json
  app/frontend/pages/Home.tsx
  config/locales/en.yml
  config/locales/vi.yml
Due: biome

feat: remove icon
  app/frontend/pages/Home.tsx
Due: biome

feat: about page and styling
  app/controllers/about_controller.rb
  app/frontend/components/Header.tsx
  app/frontend/components/MobileMenu.tsx
  app/frontend/locales/translations.json
  app/frontend/pages/About.tsx
  app/frontend/pages/blog/Index.tsx
  config/locales/en.yml
  config/locales/vi.yml
  config/routes.rb
Due: biome, rubocop

feat: update about page
  app/frontend/entrypoints/inertia.ts
  app/frontend/locales/translations.json
  app/frontend/pages/About.tsx
  config/locales/en.yml
  config/locales/vi.yml
  package-lock.json
  package.json
Due: biome

feat: update about
  app/frontend/pages/About.tsx
Due: biome

feat: favicon
  public/images/favicon.ico
Due: none

feat: try pwa
  .vscode/launch.json
  app/frontend/entrypoints/inertia.ts
  app/views/layouts/application.html.erb
  public/images/pwa-icon.svg
  public/manifest.webmanifest
  public/sw.js
Due: biome

config: debugger
  .vscode/launch.json
Due: none

fix: flash for swa
  app/frontend/pages/Home.tsx
  public/sw.js
Due: biome

feat: pwa icons
  public/images/icon-128x128.png
  public/images/icon-144x144.png
  public/images/icon-152x152.png
  public/images/icon-192x192.png
  public/images/icon-256x256.png
  public/images/icon-384x384.png
  public/images/icon-48x48.png
  public/images/icon-512x512.png
  public/images/icon-72x72.png
  public/images/icon-96x96.png
  public/images/pwa-icon.svg
  public/manifest.webmanifest
  public/sw.js
Due: none

chore: add pwa icon
  public/images/pwa-icon.svg
Due: none

feat: pwa maskable
  public/images/icon-192x192-maskable.png
  public/images/icon-512x512-maskable.png
  public/manifest.webmanifest
  public/sw.js
Due: none

feat: rename 'blog' to 'note'
  app/content/posts/2025/mdx-features-guide.mdx
  app/content/posts/2025/welcome-to-the-note.mdx
  app/controllers/blog_admin_controller.rb
  app/controllers/home_controller.rb
  app/controllers/note_admin_controller.rb
  app/controllers/note_controller.rb
  app/frontend/components/Header.tsx
  app/frontend/components/MobileMenu.tsx
  app/frontend/components/NoteGraphView.tsx
  app/frontend/components/note/MDXRenderer.tsx
  app/frontend/locales/translations.json
  app/frontend/pages/Home.tsx
  app/frontend/pages/note/Category.tsx
  app/frontend/pages/note/Index.tsx
  app/frontend/pages/note/Show.tsx
  app/frontend/pages/note/admin/Edit.tsx
  app/frontend/pages/note/admin/Index.tsx
  app/frontend/pages/note/admin/New.tsx
  app/policies/application_policy.rb
  app/services/note_post.rb
  app/services/note_post_writer.rb
  app/services/note_search_index.rb
  config/initializers/content_watcher.rb
  config/initializers/note_file_watcher.rb
  config/locales/devise.en.yml
  config/routes.rb
  config/routes/admin.rb
  config/routes/blog.rb
  config/routes/note.rb
Due: biome, rubocop

feat: refactore js:routes
  app/frontend/components/Header.tsx
  app/frontend/components/MobileMenu.tsx
  app/frontend/lib/routes.ts
  app/frontend/pages/Home.tsx
  app/frontend/pages/auth/Login.tsx
  app/frontend/pages/moods/Edit.tsx
  app/frontend/pages/moods/New.tsx
  app/frontend/pages/note/Category.tsx
  app/frontend/pages/note/Index.tsx
  app/frontend/pages/note/Show.tsx
  app/frontend/pages/note/admin/Edit.tsx
  app/frontend/pages/note/admin/Index.tsx
  app/frontend/pages/note/admin/New.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/routes.rb
  lib/tasks/jsroutes.rake
Due: biome, rubocop

refactor: i18n
  app/frontend/locales/translations.json
  config/i18n-tasks.yml
  config/locales/devise.en.yml
  config/locales/devise.vi.yml
  config/locales/en.yml
  config/locales/en/blog.yml
  config/locales/en/frontend/about.yml
  config/locales/en/frontend/auth.yml
  config/locales/en/frontend/header.yml
  config/locales/en/frontend/home.yml
  config/locales/en/frontend/locale.yml
  config/locales/en/frontend/moods.yml
  config/locales/en/frontend/theme.yml
  config/locales/en/messages.yml
  config/locales/vi.yml
  config/locales/vi/blog.yml
  config/locales/vi/frontend/about.yml
  config/locales/vi/frontend/auth.yml
  config/locales/vi/frontend/header.yml
  config/locales/vi/frontend/home.yml
  config/locales/vi/frontend/locale.yml
  config/locales/vi/frontend/moods.yml
  config/locales/vi/frontend/theme.yml
  config/locales/vi/messages.yml
Due: none

refactor: use cn instead
  app/frontend/components/MoodCalendar.tsx
  app/frontend/components/MultiMoodModal.tsx
  app/frontend/pages/InertiaExample.tsx
  app/frontend/pages/moods/Edit.tsx
  app/frontend/pages/moods/Index.tsx
  app/frontend/pages/moods/New.tsx
Due: biome

refactor: Button component
  app/frontend/components/Header.tsx
  app/frontend/components/MobileMenu.tsx
  app/frontend/components/MoodCalendar.tsx
  app/frontend/components/MultiMoodModal.tsx
  app/frontend/pages/InertiaExample.tsx
  app/frontend/pages/moods/Edit.tsx
  app/frontend/pages/moods/Index.tsx
  app/frontend/pages/moods/New.tsx
  app/frontend/pages/note/Index.tsx
Due: biome

feat: Added a cache‑busting version query to the favicon link
  app/views/layouts/application.html.erb
Due: none

feat: up baseline-browser-mapping
  package-lock.json
  package.json
Due: none

feat: add date-fns
  app/frontend/components/ErrorBoundary.tsx
  app/frontend/components/LocalTime.tsx
  app/frontend/components/MoodCalendar.tsx
  app/frontend/components/MoodDetailModal.tsx
  app/frontend/components/MultiMoodModal.tsx
  app/frontend/contexts/I18nContext.tsx
  app/frontend/entrypoints/inertia.ts
  app/frontend/lib/localTime.ts
  app/frontend/lib/utils.ts
  app/frontend/locales/translations.json
  app/frontend/pages/moods/Edit.tsx
  app/frontend/pages/moods/Index.tsx
  app/frontend/pages/moods/New.tsx
  app/frontend/pages/note/Category.tsx
  app/frontend/pages/note/Index.tsx
  app/frontend/pages/note/Show.tsx
  app/frontend/pages/note/admin/Index.tsx
  config/locales/vi/frontend/moods.yml
  package-lock.json
  package.json
Due: biome

fix: translation
  app/frontend/locales/translations.json
  config/locales/en/frontend/moods.yml
Due: none

revide: ruby methods
  ruby/flicks/flicks.rb
  ruby/flicks/note.rb
Due: rubocop

revise: ruby classes
  ruby/flicks/flicks.rb
Due: rubocop

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx} and ^app/frontend/
  rubocop: any of: *.rb
