Repository duy211099/withdui: changes, and which lefthook commands are due for each by the changed paths.
All: biome, rubocop

biome:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

rubocop:
  run: bundle exec rubocop --autocorrect {staged_files}
  stage_fixed: true

feat: i18n for gamification
  app/frontend/components/gamification/BadgeDisplay.tsx
  app/frontend/components/gamification/LevelIndicator.tsx
  app/frontend/components/gamification/StreakCounter.tsx
  app/frontend/locales/translations.json
  app/frontend/pages/gamification/Dashboard.tsx
  config/locales/en/frontend/gamification.yml
  config/locales/vi/frontend/gamification.yml
Due: biome

feat: extend cookies & SECRET_KEY_BASE
  config/initializers/devise.rb
  config/initializers/session_store.rb
Due: rubocop

wip: event's registrations
  app/content/posts/2026/the-rails-note.mdx
  app/controllers/registrations_controller.rb
  app/helpers/registrations_helper.rb
  app/models/event.rb
  app/models/registration.rb
  config/routes.rb
  db/migrate/20260110193857_create_registrations.rb
  db/schema.rb
  dump.rdb
  test/controllers/registrations_controller_test.rb
  test/fixtures/registrations.yml
  test/models/achievement_test.rb
  test/models/registration_test.rb
  test/models/user_stat_test.rb
Due: rubocop

feat: nest registrations to events route
  app/controllers/registrations_controller.rb
  app/frontend/lib/routes.ts
  app/frontend/pages/Registrations/Index.tsx
  app/frontend/pages/events/Show.tsx
  app/frontend/types/index.ts
  app/frontend/types/models.ts
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/routes.rb
  config/routes/events.rb
  config/routes/registrations.rb
Due: biome, rubocop

fix: time bug in test
  test/integration/gamification_flow_test.rb
  test/services/gamification_service_test.rb
  test/services/streak_calculator_test.rb
Due: rubocop

fix: file path
  app/frontend/pages/Registrations/Form.tsx
  app/frontend/pages/Registrations/Index.tsx
  app/serializers/README.md
Due: biome

fix: production build
  app/serializers/base_serializer.rb
Due: rubocop

fix: typing
  app/controllers/registrations_controller.rb
  app/frontend/types/serializers/Registration.ts
  app/serializers/base_serializer.rb
  app/serializers/registration_serializer.rb
  config/initializers/types_from_serializers.rb
  dump.rdb
  vite.config.ts
Due: biome, rubocop

fix: serializer
  app/controllers/application_controller.rb
  app/controllers/events_controller.rb
  app/controllers/gamification_controller.rb
  app/controllers/moods_controller.rb
  app/controllers/registrations_controller.rb
  app/frontend/components/LocaleSwitcher.tsx
  app/frontend/components/MoodCalendar.tsx
  app/frontend/lib/i18n.ts
  app/frontend/pages/gamification/Dashboard.tsx
  app/frontend/types/serializers/Mood.ts
  app/serializers/event_serializer.rb
  app/serializers/mood_serializer.rb
  app/serializers/user_basic_serializer.rb
  app/serializers/user_detailed_serializer.rb
  app/serializers/user_serializer.rb
Due: biome, rubocop

update: serializer
  app/controllers/gamification_controller.rb
  app/controllers/home_controller.rb
  app/frontend/types/serializers/Achievement.ts
  app/frontend/types/serializers/GamificationEvent.ts
  app/frontend/types/serializers/UserAchievement.ts
  app/frontend/types/serializers/index.ts
  app/serializers/achievement_serializer.rb
  app/serializers/gamification_event_serializer.rb
  app/serializers/user_achievement_serializer.rb
Due: biome, rubocop

feat: converts between camelCase and snake_case
  Procfile.dev
  app/controllers/application_controller.rb
  app/controllers/events_controller.rb
  app/frontend/entrypoints/inertia.ts
  package-lock.json
  package.json
Due: biome, rubocop

fix
  config/database.yml
Due: none

fix: Mac Tahoe bug
  config/database.yml
Due: none

chore: update version
  .node-version
  .nvmrc
  Dockerfile
  Dockerfile.dev
Due: none

feat: change registration to join table
  app/controllers/api/users_controller.rb
  app/controllers/application_controller.rb
  app/controllers/registrations_controller.rb
  app/frontend/components/UserDropdown.tsx
  app/frontend/components/ui/command.tsx
  app/frontend/hooks/index.ts
  app/frontend/hooks/useDebounce.ts
  app/frontend/lib/api.ts
  app/frontend/pages/Registrations/Form.tsx
  app/frontend/pages/Registrations/Index.tsx
  app/frontend/pages/admin/Versions.tsx
  app/frontend/types/api.ts
  app/frontend/types/index.ts
  app/frontend/types/serializers/Registration.ts
  app/frontend/types/serializers/RegistrationForm.ts
  app/models/registration.rb
  app/models/user.rb
  app/serializers/achievement_serializer.rb
  app/serializers/gamification_event_serializer.rb
  app/serializers/mood_serializer.rb
  app/serializers/registration_form_serializer.rb
  app/serializers/registration_serializer.rb
  app/serializers/user_achievement_serializer.rb
  config/routes.rb
  config/routes/api.rb
  db/migrate/20260111120317_make_registrations_a_join_table.rb
  db/schema.rb
  package-lock.json
  package.json
  test/fixtures/registrations.yml
  test/models/registration_test.rb
Due: biome, rubocop

feat: update fixture
  test/fixtures/registrations.yml
Due: none

feat: show user's avatar
  app/frontend/components/UserDropdown.tsx
  app/frontend/components/ui/avatar.tsx
  package-lock.json
  package.json
Due: biome

faet: dropdown components
  app/frontend/components/Dropdown.tsx
  app/frontend/components/UserDropdown.tsx
  app/frontend/pages/Registrations/Form.tsx
Due: biome

feat: admin policy
  app/controllers/application_controller.rb
  app/controllers/events_controller.rb
  app/controllers/registrations_controller.rb
  app/policies/event_policy.rb
  app/policies/registration_policy.rb
  test/controllers/events_controller_test.rb
Due: rubocop

feat: enhance theme & log in
  app/controllers/application_controller.rb
  app/views/layouts/application.html.erb
Due: rubocop

feat: slug route
  app/controllers/events_controller.rb
  app/controllers/moods_controller.rb
  app/controllers/registrations_controller.rb
  app/frontend/pages/Registrations/Form.tsx
  app/frontend/pages/Registrations/Index.tsx
  app/frontend/pages/events/Edit.tsx
  app/frontend/pages/events/Index.tsx
  app/frontend/pages/events/Show.tsx
  app/frontend/types/serializers/Event.ts
  app/models/event.rb
  app/models/mood.rb
  app/models/user.rb
  app/serializers/event_serializer.rb
  app/serializers/mood_serializer.rb
  app/serializers/user_serializer.rb
  db/migrate/20260111132640_add_slug_to_users.rb
  db/migrate/20260111132645_add_slug_to_moods.rb
  db/migrate/20260111132650_add_slug_to_events.rb
  db/schema.rb
  lib/tasks/slugs.rake
  test/fixtures/events.yml
  test/fixtures/moods.yml
  test/fixtures/users.yml
  test/models/event_test.rb
  test/models/mood_test.rb
  test/models/user_test.rb
Due: biome, rubocop

feat: pg_search
  Gemfile
  Gemfile.lock
  app/controllers/api/users_controller.rb
  app/models/user.rb
Due: rubocop

fix: types
  app/controllers/admin/versions_controller.rb
  app/frontend/lib/routes.ts
  app/frontend/pages/admin/Versions.tsx
  app/frontend/pages/gamification/Dashboard.tsx
  app/frontend/types/index.ts
  app/frontend/types/models.ts
  app/frontend/types/serializers/UserAchievement.ts
  app/frontend/types/serializers/Version.ts
  app/frontend/types/serializers/index.ts
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/serializers/user_achievement_serializer.rb
  app/serializers/version_serializer.rb
Due: biome, rubocop

fix: types
  app/frontend/components/gamification/BadgeDisplay.tsx
  app/frontend/pages/gamification/Dashboard.tsx
  app/frontend/types/index.ts
Due: biome

fix: types
  app/controllers/application_controller.rb
  app/controllers/moods_controller.rb
  app/frontend/components/Dropdown.tsx
  app/frontend/components/Header.tsx
  app/frontend/components/MobileMenu.tsx
  app/frontend/components/MoodDetailModal.tsx
  app/frontend/components/MultiMoodModal.tsx
  app/frontend/lib/routes.ts
  app/frontend/pages/Home.tsx
  app/frontend/pages/Registrations/Form.tsx
  app/frontend/pages/SerializerDemo.tsx
  app/frontend/pages/events/Index.tsx
  app/frontend/pages/moods/Edit.tsx
  app/frontend/pages/moods/Index.tsx
  app/frontend/pages/note/Category.tsx
  app/frontend/pages/note/Index.tsx
  app/frontend/pages/note/Show.tsx
  app/frontend/pages/note/admin/New.tsx
  app/frontend/types/inertia.ts
  app/frontend/types/models.ts
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/initializers/inertia_rails.rb
  config/routes/moods.rb
  package-lock.json
  package.json
Due: biome, rubocop

feat: update test
  app/controllers/home_controller.rb
  app/controllers/moods_controller.rb
  app/controllers/note_admin_controller.rb
  app/controllers/note_controller.rb
  app/frontend/components/NoteGraphView.tsx
  app/frontend/pages/admin/Versions.tsx
  app/frontend/pages/note/Category.tsx
  app/frontend/pages/note/Show.tsx
  app/frontend/pages/note/admin/Edit.tsx
  app/frontend/pages/note/admin/New.tsx
  app/frontend/types/serializers/NotePost.ts
  app/frontend/types/serializers/index.ts
  app/models/achievement.rb
  app/models/gamification_event.rb
  app/models/mood.rb
  app/models/user_achievement.rb
  app/models/user_stat.rb
  app/serializers/note_post_serializer.rb
  app/services/note_post.rb
  app/services/note_search_index.rb
  config/routes/moods.rb
  docs/BLOG_MODULE_DOCUMENTATION.md
  test/controllers/moods_controller_test.rb
  test/controllers/note_controller_test.rb
  test/integration/gamification_flow_test.rb
  test/models/achievement_test.rb
  test/models/mood_test.rb
  test/models/user_stat_test.rb
Due: biome, rubocop

fix: test
  app/controllers/moods_controller.rb
  test/integration/gamification_flow_test.rb
  test/models/achievement_test.rb
  test/models/mood_test.rb
  test/models/user_stat_test.rb
Due: rubocop

fix: test
  test/models/mood_test.rb
Due: rubocop

fix: types
  app/frontend/pages/moods/New.tsx
Due: biome

fix: i18n
  app/frontend/locales/translations.json
  app/frontend/pages/gamification/Dashboard.tsx
  config/locales/en/frontend/gamification.yml
  config/locales/vi/frontend/gamification.yml
Due: biome

feat: do responsive for dropdown
  app/frontend/components/Dropdown.tsx
  app/frontend/components/UserDropdown.tsx
Due: biome

feat: responsive mobile
  app/frontend/components/Dropdown.tsx
  app/frontend/components/UserDropdown.tsx
  app/frontend/components/ui/command.tsx
  app/frontend/hooks/useIsMobile.ts
Due: biome

chore: enhance UX
  app/frontend/components/Dropdown.tsx
  app/frontend/components/Header.tsx
  app/frontend/components/ui/command.tsx
Due: biome

chore: tweak ui
  app/frontend/components/Dropdown.tsx
  app/frontend/components/UserDropdown.tsx
  app/frontend/components/ui/command.tsx
Due: biome

feat: i18n
  app/frontend/locales/translations.json
  app/frontend/pages/Home.tsx
  app/frontend/pages/Registrations/Index.tsx
  app/frontend/pages/SerializerDemo.tsx
  app/frontend/pages/admin/Versions.tsx
  app/frontend/pages/note/Category.tsx
  app/frontend/pages/note/Index.tsx
  app/frontend/pages/note/Show.tsx
  app/frontend/pages/note/admin/Index.tsx
  app/frontend/pages/utils/Index.tsx
  app/frontend/pages/v1/Hello.tsx
  config/locales/en/frontend/admin.yml
  config/locales/en/frontend/events.yml
  config/locales/en/frontend/home.yml
  config/locales/en/frontend/note.yml
  config/locales/en/frontend/serializer_demo.yml
  config/locales/en/frontend/utils.yml
  config/locales/en/frontend/v1.yml
  config/locales/vi/activerecord.yml
  config/locales/vi/frontend/admin.yml
  config/locales/vi/frontend/events.yml
  config/locales/vi/frontend/gamification.yml
  config/locales/vi/frontend/home.yml
  config/locales/vi/frontend/note.yml
  config/locales/vi/frontend/serializer_demo.yml
  config/locales/vi/frontend/utils.yml
  config/locales/vi/frontend/v1.yml
Due: biome

chore: remove unused
  app/frontend/pages/Home.tsx
Due: biome

feat: merge pre-push to pre-commit
  lefthook.yml
Due: none

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx} and ^app/frontend/
  rubocop: any of: *.rb
